[uwsgi]
#module= wsgi:application
wsgi-file = wsgi.py
master =true
processes = 5
uid = {{ appuser }}
#socket = flaskapp.sock
socket = :{{ flaskapp_port }}
chown-socket = {{ appuser }}:{{ appuser }}
chmod-socket = 660
vacuum =true
home = /flaskapp/flaskappenv/
die-on-term = true
